<div class="rdw-container">
  <!-- <div class="arrow arrow-left"><i class="fas fa-chevron-circle-left"></i></div> -->

  <div class="sldier" style="display: none">
    <a href="#">
      <img
        class="slidefor-pc"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/RepublicDeskBanner2_1920x889.jpg?v=1642263228"
        width="100%"
      />
      <!-- <img class="slidefor-mb"
                    src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/RepublicMobBanner_750x825.jpg?v=1642263227"
                    width="100%"> -->
    </a>
  </div>

  <div class="sldier" style="display: none">
    <a href="#">
      <img
        class="slidefor-pc"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/LuftDeskBanner_1920x889.jpg?v=1636449491"
        width="100%"
      />
      <!-- <img class="slidefor-mb"
                    src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/LuftMobBanner_750x825.jpg?v=1636449491"
                    width="100%"> -->
    </a>
  </div>

  <div class="sldier" style="display: none">
    <a href="#">
      <img
        class="slidefor-pc"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/DriftDeskBanner_1920x889.jpg?v=1636449887"
        width="100%"
      />
      <!-- <img class="slidefor-mb"
                    src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/DriftMobBanner_750x825.jpg?v=1636449909"
                    width="100%"> -->
    </a>
  </div>

  <div class="sldier" style="display: none">
    <a href="#">
      <img
        class="slidefor-pc"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/NTroosDeskBanner_1920x889.jpg?v=1636449948"
        width="100%"
      />
      <!-- <img class="slidefor-mb"
                    src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/NTroosMobBanner_750x825.jpg?v=1636449931"
                    width="100%"> -->
    </a>
  </div>

  <div class="sldier" style="display: none">
    <a href="#">
      <img
        class="slidefor-pc"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/EllipsisDeskBanner_copy_1920x889.jpg?v=1636449963"
        width="100%"
      />
      <!-- <img class="slidefor-mb"
                    src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/EllipsisMobBanner_copy_750x825.jpg?v=1636449980"
                    width="100%"> -->
    </a>
  </div>

  <div class="sldier" style="display: none">
    <a href="#">
      <img
        class="slidefor-pc"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/AureaDeskBanner_copy_1920x889.jpg?v=1636450004"
        width="100%"
      />
      <!-- <img class="slidefor-mb"
                    src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/AureaMobBanner_750x825.jpg?v=1636450020"
                    width="100%"> -->
    </a>
  </div>
</div>

<div class="second_txt">
  <!-- grid__item medium-up--three-quarters medium-up--push-one-eighth"> -->

  <h2>RIGHT TO COMFORT SALE IS LIVE</h2>

  <div class="rte">
    <div class="enlarge-text">
      <p>
        Flat <strong>25% Off</strong>. Use Code: <strong>COMFORT</strong>, Get
        an additional <strong>10% off</strong> using <strong>BLAZE UPI</strong>
      </p>
    </div>
  </div>
</div>

<!-- 3rd div start  -->
<div class="row">
  <p class="section-heading">What’s special about Flatheads shoes?</p>
</div>
<div class="div3">
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/All_day_wear.gif?v=1631074126"
      alt="All Day Every Day Wear"
      srcset=""
    />
    <h3>All Day Every Day Wear</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Ultra_Lightweight.gif?v=1631074126"
      alt="Extremely light weight"
      srcset=""
    />
    <h3>Extremely light weight</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/10X_Breathable.gif?v=1631074127"
      alt="10x Breathable"
      srcset=""
    />
    <h3>10x Breathable</h3>
  </div>
</div>
<div class="item">
  <a href="#" class="text-link">
    <button class="btn-view">
      View All<i class="fas fa-long-arrow-alt-right"></i></button
  ></a>
</div>
<div class="div4">
  <div>
    <!-- <div style="margin: 0 auto; max-width: 300px;"> -->

    <a href="#">
      <img
        class="lazyloaded"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/HomeCollectionLuftBanner_520x.jpg?v=1635849049"
      />
    </a>
  </div>

  <div class="text-content">
    <!-- max-width: 300px; style="margin: 150px;-->
    <p class="h5">NEWLY LAUNCHED</p>
    <br />

    <p class="h3">LUFT - SUPER LIGHTWEIGHT SHOES</p>

    <div class="rte featured-row__subtext">
      <p>
        Our lightest sneaker yet. Slip into the stylish, comfortable and super
        breathable Luft.
      </p>
    </div>
    <br />

    <a href="/" class="btn">
      <button class="bttn">SHOP NOW</button>
    </a>
  </div>
</div>
<!--  4th div End -->

<!--  5th div  -->
<div class="ellipsis-features div5">
  <div class="items">
    <div class="item">
      <a class="rte__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Ultra_Lightweight.gif?v=1631074126"
          width="100%"
          style="border-radius: 50%"
        />

        <p class="item-heading">Extremely Lightweight</p>
      </a>
    </div>

    <div class="item">
      <a class="rte__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/One_time_lacing_243da4da-8f9d-4f8c-bf56-76ea8c018ee8.gif?v=1635849829"
          width="100%"
          style="border-radius: 50%"
        />
        <p class="item-heading">One Time Lacing</p>
      </a>
    </div>

    <div class="item">
      <a class="rte__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/10X_Breathable.gif?v=1631074127"
          width="100%"
          style="border-radius: 50%"
        />
        <p class="item-heading">10x Breathable</p>
      </a>
    </div>
  </div>
</div>
<!--  5th div End -->

<!--  6th div  -->
<div class="div6">
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Royal Blue"
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/products/Royal8_360x.jpg?v=1636736089 180w"
      />
      <div>
        <h4>Luft Royal Blue</h4>
        <span class="grid-product__price--original strike">Rs. 3,999.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Shadow Grey"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Shadow8_360x.jpg?v=1636736090"
      />
      <div>
        <h4>Luft Shadow Grey</h4>
        <span class="grid-product__price--original strike">Rs. 3,999.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Cocoa Brown"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Cocoa8_360x.jpg?v=1636735954"
      />
      <div>
        <h4>Luft Cocoa Brown</h4>
        <span class="grid-product__price--original strike">Rs. 3,999.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Azure Blue Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Azure8_360x.jpg?v=1636735909"
      />
      <div>
        <h4>Luft Azure Blue Melange</h4>
        <span class="grid-product__price--original strike">Rs. 3,999.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Crimson Red"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Crimson8_360x.jpg?v=1636735989"
      />
      <div>
        <h4>Luft Crimson Red</h4>
        <span class="grid-product__price--original strike">Rs. 3,999.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="#" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Fern Green"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Fern8_360x.jpg?v=1636736017"
      />
      <div>
        <h4>Luft Fern Green</h4>
        <span class="grid-product__price--original strike">Rs. 3,999.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
</div>
<!--  6th div End -->

<!--  7th div  -->
<div class="div7">
  <div class="">
    <p class="h3">DRIFT - BAMBOO SLIDERS</p>
    <br />

    <div class="rte featured-row__subtext">
      <p>
        All natural bamboo uppers for a soft, cool fit. Easy to slip on sliders
        that keep you on the move and ready to go!
      </p>
    </div>

    <a href="#" class="btn">
      <br />
      <button class="bttn">SHOP NOW</button>
    </a>
  </div>

  <div>
    <!-- </div>style="margin: 0 auto; max-width: 300px;"> -->
    <a href="">
      <img
        class="lazyloaded"
        alt=""
        src="//cdn.shopify.com/s/files/1/0258/2485/4100/files/DriftCollectnBanner_470x.jpg?v=1631079078 180w"
      />
    </a>
  </div>
</div>
<!--  7th div  End-->

<!-- div 8 -->
<div class="div8">
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/All_day_wear.gif?v=1631074126"
      alt="All Day Every Day Wear"
      srcset=""
    />
    <h3>All Day Every Day Wear</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Made_of_natural_fibre.gif?v=1631074126"
      alt="Sweat Free"
      srcset=""
    />
    <h3>Sweat Free</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Anti_Microbial_f2f859b2-cd30-422d-b5a6-ecc87a85e551.gif?v=1637732482"
      alt="Odour Fre"
      srcset=""
    />
    <h3>Odour Free</h3>
  </div>
</div>
<!-- End div 8 -->

<!-- div 9 -->
<div class="div9">
  <div class="drift_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Drift Black On Black"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/BlackOnBlack1_720x.jpg?v=1644229420"
      />
      <div>
        <h4>Drift Black On Black</h4>
        <span class="visually-hidden">7 reviews</span>
        <span class="money" data-product-id="7427736666286">Rs. 1,299.00</span>
      </div>
    </a>
  </div>
  <div class="drift_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Drift Navy On White"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/BlueOnWhite1_720x.jpg?v=1644229509"
      />
      <div>
        <h4>Drift Navy On White</h4>
        <span class="visually-hidden">4 reviews</span>
        <span class="money" data-product-id="7427736666286">Rs. 1,299.00</span>
      </div>
    </a>
  </div>
  <div class="drift_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Drift Grey On Black"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/GreyOnBlack1_720x.jpg?v=1644229566"
      />
      <div>
        <h4>Drift Grey On Black</h4>
        <span class="visually-hidden">2 reviews</span>
        <span class="money" data-product-id="7427736666286">Rs. 1,299.00</span>
      </div>
    </a>
  </div>
  <div class="drift_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Drift Grey On White"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/GreyOnWhite2_720x.jpg?v=1644229695"
      />
      <div>
        <h4>Drift Grey On White</h4>
        <span class="visually-hidden">1 reviews</span>
        <span class="money" data-product-id="7427736666286">Rs. 1,299.00</span>
      </div>
    </a>
  </div>
</div>
<!-- End div 9  -->

<!-- div 10  -->
<div class="div10">
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Blue_melayange_520x.jpg?v=1629832965"
      alt=""
    />
  </div>
  <div>
    <h2>NEW TROOS</h2>
    <br />
    <P
      >If you thought our slip-ons were comfortable, try these on for size. We
      just upgraded our original design with these chic, everyday loafers</P
    >
    <br />
    <a href="#"> <button class="btn">VIEW TROOS</button></a>
  </div>
</div>
<!-- div 10 End -->

<!-- div 11  -->
<div class="div11">
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Made_of_natural_fibre.gif?v=1631074126"
      alt=""
    />
    <h3>Made Of Natural Bamboo fibre</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Designed_for_WFH_life.gif?v=1631074126"
      alt="Designed for WFH"
    />
    <h3>Designed for WFH</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Easy_to_Slip_On.gif?v=1631074126"
      alt=""
    />
    <h3>Easy slip-on and slip-off</h3>
  </div>
</div>
<!-- div 11 End -->

<!-- div 12  -->
<div class="div12">
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Black Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/10_360x.jpg?v=1634021934"
      />
      <div>
        <h4>New Troos Black Melange</h4>
        <span class="grid-product__price--original strike">Rs. 2,665.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 2,665.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Grey Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/10_7c0e4a36-4d46-44d6-810b-85d429ace1d4_360x.jpg?v=1634022155"
      />
      <div>
        <h4>New Troos Grey Melange</h4>
        <span class="grid-product__price--original strike">Rs. 2,665.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 2,665.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Blue Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/10_eb54c85e-9359-445f-81c3-7685f1860da8_360x.jpg?v=1634022063"
      />
      <div>
        <h4>New Troos Blue Melange</h4>
        <span class="grid-product__price--original strike">Rs. 2,665.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 2,665.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Green Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/10_c5897a5e-0a53-4df8-96b8-6fc531a396b4_360x.jpg?v=1634022251"
      />
      <div>
        <h4>New Troos Green Melange</h4>
        <span class="grid-product__price--original strike">Rs. 2,665.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 2,665.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Fern Green"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/10_61cce8ed-2c8f-4ea5-8d2a-7702237ddb84_360x.jpg?v=1634022342"
      />
      <div>
        <h4>New Troos Red Melange</h4>
        <span class="grid-product__price--original strike">Rs. 2,665.00</span>
        <span class="visually-hidden"></span>
        <span class="money" data-product-id="7427736666286">Rs. 2,665.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
</div>

<!-- div 12 End -->

<!-- div 13  -->
<div class="div13">
  <div class="">
    <span class="the">THE</span>
    <h2 class="h3">AUREA</h2>
    <br />

    <div class="rte featured-row__subtext">
      <p>
        First of its kind bamboo uppers. Because we keep it natural, just like
        you.
      </p>
    </div>
    <br />

    <a href="/" class="btn">
      <button class="bttn">SHOP NOW</button>
    </a>
  </div>

  <div>
    <a href="">
      <img
        class="lazyloaded"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/natural-and-authentic-optimised_470x.jpg?v=1604411817"
      />
    </a>
  </div>
</div>
<!-- div 13 End -->

<!-- div 14  -->
<div class="div14">
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Made_of_natural_fibre.gif?v=1631074126"
      alt=""
    />
    <h3>Made Of Natural Bamboo fibre</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Naturally_Cooling.gif?v=1631074126"
      alt="Designed for WFH"
    />
    <h3>Keep your feet cool</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Anti_Microbial.gif?v=1631074126"
      alt=""
    />
    <h3>Moisture Wicking</h3>
  </div>
</div>
<!-- div 14 End -->

<!-- div 15  -->
<div class="div15">
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Black Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/AureaTreebark5_720x.jpg?v=1644229311"
      />
      <div>
        <h4>Aurea Marine</h4>
        <p>48 reviews</p>
        <span class="grid-product__price--original strike">Rs. 4,995.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 4,440.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Grey Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/AureaMarine5_720x.jpg?v=1644229084"
      />
      <div>
        <h4>Aurea Tofu</h4>
        <p>48 reviews</p>
        <span class="grid-product__price--original strike">Rs. 4,995.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 4,440.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Blue Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/AureaTofu5_720x.jpg?v=1644229131"
      />
      <div>
        <h4>Aurea Pepper</h4>
        <p>48 reviews</p>
        <span class="grid-product__price--original strike">Rs. 4,995.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 4,440.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="New Troos Green Melange"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/AureaPepper5_720x.jpg?v=1644229193"
      />
      <div>
        <h4>Aurea Slate</h4>
        <p>48 reviews</p>
        <span class="grid-product__price--original strike">Rs. 4,995.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 4,440.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Luft Fern Green"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/AureaSlate5_720x.jpg?v=1644229249"
      />
      <div>
        <h4>Aurea Treebark</h4>
        <p>48 reviews</p>
        <span class="grid-product__price--original strike">Rs. 4,995.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 4,440.00</span>
        <span class="grid-product__price--savings">Save 11%</span>
      </div>
    </a>
  </div>
</div>

<!-- div 15 End -->

<!-- div 16  -->
<!-- div 16 End -->

<!-- div 17  -->
<div class="div17">
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Ultra_Lightweight.gif?v=1631074126"
      alt="All Day Every Day Wear"
      srcset=""
    />
    <h3>Extremely Lightweight</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/10X_Breathable.gif?v=1631074127"
      alt="Sweat Free"
      srcset=""
    />
    <h3>10x Breathable</h3>
  </div>
  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Easy_to_Slip_On.gif?v=1631074126"
      alt="Odour Fre"
      srcset=""
    />
    <h3>Easy to slip-on and slip-off</h3>
  </div>
</div>
<!-- div 17 End -->

<!-- div 18 -->
<div class="div18">
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Ellipsis Graphite"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Ash6_720x.jpg?v=1644230055"
      />
      <div>
        <h4>Ellipsis Graphite</h4>
        <p>75 reviews</p>
        <span
          class="grid-product__price--original strike"
          style="text-decoration: line-through"
          >Rs. 3,329.00</span
        >
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Ellipsis Burgundy"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Cobalt5_720x.jpg?v=1644230005"
      />
      <div>
        <h4>Ellipsis Burgundy</h4>
        <p>75 reviews</p>
        <span class="grid-product__price--original strike">Rs. 3,329.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Ellipsis Olive"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Graphite5_720x.jpg?v=1644229781"
      />
      <div>
        <h4>Ellipsis Olive</h4>
        <p>75 reviews</p>
        <span class="grid-product__price--original strike">Rs. 3,329.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Graphite5_720x.jpg?v=1644229781"
      />
      <div>
        <h4>Ellipsis Cobalt</h4>
        <p>75 reviews</p>
        <span class="grid-product__price--original strike">Rs. 3,329.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
  <div class="luft_div">
    <a href="" class="grid-product__link">
      <img
        class="grid-product__image lazyautosizes lazyloaded"
        alt="Ellipsis Ash"
        src="https://cdn.shopify.com/s/files/1/0258/2485/4100/products/Burgundy5_720x.jpg?v=1644229836"
      />
      <div>
        <h4>Ellipsis Ash</h4>
        <p>75 reviews</p>
        <span class="grid-product__price--original strike">Rs. 3,329.00</span>
        <span class="money" data-product-id="7427736666286">Rs. 3,329.00</span>
        <span class="grid-product__price--savings">Save 17%</span>
      </div>
    </a>
  </div>
</div>
