<section class="press-item-sponsers">
  <h3 class="press-item-heading">as featured on</h3>
  <div class="press-items">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/minticons.png?v=1632308708"
      alt=""
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/new-indian-express-optimised.jpg"
      alt=""
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/cnbctv18.png"
      alt=""
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/lbb.png"
      alt=""
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/yourstory.png"
      alt=""
    />
  </div>
</section>
<h3 class="new-reviews-heading">what customers are saying</h3>
<section class="new-reviews">
  <div class="items">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/3_61c1b975-7ef8-4e53-8bee-062f7329289e.jpg?v=1636645433"
      alt="item-review-1"
    />
  </div>
  <div class="items">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/2_14ff6aed-fb2c-4796-baf0-715d76260cb4.jpg?v=1636645433"
      alt="item-review-2"
    />
  </div>
  <div class="items">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/1_64df43b3-e01d-4424-8af2-7f2e76d05df8.jpg?v=1636645433
"
      alt="item-review-3"
    />
  </div>
</section>
<div class="new-reviews-button">
  <a href="#" class="review-btn">
    <button>ALL REVIEWS <i class="fas fa-long-arrow-alt-right"></i></button>
  </a>
</div>
<section class="reviews-feedback">
  <h3 class="reviews-feedback-heading">more customers speak</h3>
  <div class="star-icons">
    <span><i class="fas fa-star"></i></span>
    <span><i class="fas fa-star"></i></span>
    <span><i class="fas fa-star"></i></span>
    <span><i class="fas fa-star"></i></span>
    <span><i class="fas fa-star"></i></span>
  </div>
  <h5 class="subheading">from 4138 reviews</h5>
  <div class="slider-div"></div>
</section>
<section class="image-slideshow">
  <img class="slide-img" src="images/first-review.png" alt="first-review" />
  <img class="slide-img" src="images/second-review.png" alt="second-review" />
  <img class="slide-img" src="images/third-review.png" alt="third-review" />
</section>
<section class="service-items">
  <div class="service-item">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/FreeShipping.png"
      alt="Free Shipping Icon"
    />
    <p>Free Shipping across India</p>
  </div>
  <div class="service-item">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Dispatch.png?v=1634106432"
      alt="Dispatch Icon"
    />
    <p>1-Day dispatch</p>
  </div>
  <div class="service-item">
    <img
      src="https://cdn.shopify.com/s/files/1/0258/2485/4100/files/Exchange.png?v=1634106432"
      alt="Exchange Icon"
    />
    <p>Hassle-free Exchange</p>
  </div>
</section>
