<section class="image-slideshow">
  <img class="slide-img" src="images/first-review.png" alt="first-review" />
  <img class="slide-img" src="images/second-review.png" alt="second-review" />
  <img class="slide-img" src="images/third-review.png" alt="third-review" />
</section>
