<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Page</title>
    <link rel="stylesheet" href="css/checkout.css" />
  </head>
  <body>
    <div id="container">
      <div id="left_address_box">
        <div id="flathadslogo">
          <a href="/"> <img src="../images/flatsheads_logo.png" alt="" /></a>

          <div id="c_i_s_p">
            <div class="cart"><a href="/cart"> Cart »</a></div>
            <div class="information"><a href="/">Information »</a></div>
            <div class="shipping"><a href="/shipping">Shipping »</a></div>
            <div class="payment"><a href="/payment"> Payment </a></div>
          </div>
        </div>
        <!--end logo div-->

        <div id="inputmaindiv">
          <div id="istbox">
            <div id="contact">Contact</div>
            <input
              type="email"
              name=""
              id="emailcheck"
              placeholder="Enter your Email"
            />
            <div id="change"><a href="/Address">Change</a></div>
          </div>

          <div id="dividerii"></div>

          <div id="istbox">
            <div id="contact">Ship to</div>
            <input
              type="text"
              name=""
              id="addresscheck"
              placeholder="Enter your address"
            />
            <div id="change"><a href="/Address">Change</a></div>
          </div>

          <div id="dividerii"></div>

          <div id="freeshipbox">
            <div id="method">Method</div>
            <div id="freeshiping">Free Shipping</div>
            <div id="free">Free</div>
          </div>
        </div>

        <div>
          <h3>Payment</h3>
          <p>All transactions are secure and encrypted.</p>
        </div>

        <div id="imgdiv">
          <img
            src="https://content3.jdmagicbox.com/comp/def_content/credit_card_agents/default-credit-card-agents-5.jpg?clr=0a5c3b"
            alt=""
          />
        </div>

        <div id="btn_ret">
          <button id="com_btn">Complete order</button>
          <p id="return_heading">
            <a href="/shipping">Return to shipping</a>
          </p>
        </div>
      </div>

      <div id="divider"></div>
      <!--divider-->
    </div>
  </body>
</html>

<script src="../js/payment.js"></script>
