<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/slider.css" />
    <link rel="stylesheet" href="css/firstHalf.css" />
    <link rel="stylesheet" href="css/secondHalf.css" />
    <script
      src="https://kit.fontawesome.com/683b4b40e3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- navbar component -->
    <%- include("partials/navbar.ejs") %>

    <!-- firstHalf component  -->
    <%- include("partials/firstHalf.ejs") %>

    <!-- second Half  -->
    <%- include("partials/secondHalf.ejs") %>

    <!-- footer component  -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
<script src="../scripts/slider.js"></script>
