/* footer section  */
.footer {
  margin: 10% auto;
  font-size: 14px;
}

.footer hr{
  width: 100%;
  margin: 0;
  /* margin: 2% 0; */
}

/* service items content area  */
.service-items {
  display: flex;
  justify-content: center;
}

/* service item individual div  */
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

section {
  width: 80%;
  margin: auto;
}

/* service content image  */
.service-item > img {
  width: 150px;
}

/* reatings area content */
.ratings-header {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}
hr {
  width: 100vw;
  margin: 0;
  padding: 0;
}
/* star rating icons  */
.star-icons {
  display: flex;
  justify-content: center;
  color: gold;
}
.ratings-header > p {
  text-align: center;
  font-size: 1rem;
  /* line-height: 1.2rem; */
  font-weight: 500;
  margin-top: 7px;
  color: darkslategray;
  font-family: sans-serif;
}

/* footer list header  */
.footer-collapsible-heading {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  /* letter-spacing: 2cm; */
  color: darkslategray;
}

.footer_collapsible {
  font-size: 14px;
  line-height: 22px;
  color: darkslategray;
}
.footer_collapsible > strong {
  color: black;
}

/* footer list or multiple columns  */
.footer-form {
  margin-top: 4%;
}
.footer-form > .content {
  width: 80vw;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  color: #333333;
  line-height: 22px;
}
.footer-form .content .col > p {
  padding-top: 10px;
}
.footer-form .content .col p a {
  display: inline-block;
  text-decoration: none;
  color: darkslategray;
}
.footer-form h4 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 19px;
  color: darkslategray;
}

/* copyright text content  */
.copyright-content {
  text-align: center;
  padding: 10px;
  margin-top: 3%;
  color: darkslategray;
}

.content .col {
  display: flex;
  flex-direction: column;
}
