* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.second_txt {
  margin-top: 80px;
  text-align: center;
}

/* css for 3rd  */

.row .section-heading {
  font-size: 1.5rem;
  font-weight: 600;
  /* line-height: 115%; */
  text-align: center;
  margin: 40px auto;
}
.div3,
.div5,
.div8,
.div11,
.div14,
.div17 {
  margin: 10px auto;
  /* align-items: center; */
  width: 80%;
  /* max-width: 1420px; */
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 300px);
  grid-gap: 0px;
}

.div3 > div,
.div5 > div,
.div8 > div,
.div11 > div,
.div14 > div,
.div17 > div {
  align-items: center;
  /* border: 1px solid yellowgreen; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
}

.div3 h3,
.div5 h3,
.div8 h3,
.div11 h3,
.div14 h3,
.div17 h3 {
  font-size: 1rem;
  font-weight: 600;
}
.div3 img,
.div5 img,
.div8 img,
.div11 img,
.div14 img,
.div17 img {
  max-width: 220px;
  margin: 0 auto;
  /* background: #fff; */
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .div3,
  .div5,
  .div8,
  .div11,
  .div14,
  .div17 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 3%; */
    margin: auto;
  }
}

.item .btn {
  margin: 50px auto;
  border-radius: 1px;
  padding: 9px 29px;
  background-color: rgb(253, 211, 0);
  font-weight: bold;
  /* border: 1px solid teal; */
}

/* above new 3rd Div */

/* End css for 3rd  */

/* css for 4th  */
.div4 .bttn,
.div10 .bttn {
  line-height: 1.42;
  text-decoration: none;
  white-space: normal;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 10px 20px;
  min-width: 90px;
  cursor: pointer;
  border: none;
  background-color: #fdd301;
  margin-bottom: 2% auto;
  transition: border-bottom 0.3 ease;
}

.div4,
.div7,
.div13,
.div10 {
  margin: 10% auto;
  /* border: 2px solid yellow; */
  align-items: center;
  /* height: 20vw; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 500px);
}

@media screen and (max-width: 480px) {
  .div4,
  .div7,
  .div13,
  .div10 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
  }
}
/* End css for 4th  */

/* css for 5th  */
.div5 {
  padding-top: 0px;
}

.div5 .items {
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
}

.div5 .item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 5px;
  margin-top: 30px;
}

.div5 .item {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 16px;
}

.div5 .item img {
  max-width: 260px;
  margin: 0 auto;
  /* background-color: aqua; */
}

.div5 .item a {
  text-decoration: none;
  border: none;
  border-bottom: none !important;
}

.div5 .item a:after {
  border-bottom: none !important;
  content: none !important;
  transition: none !important;
}

.div5 .item button {
  margin-top: 75%;
}

.div5 .item .feature-desc {
  font-size: 16px;
  text-align: left;
}

.div5 .item .item-heading {
  font-size: 20px;
  margin: 5px;
  font-weight: 600;
}

.div5 .section-heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 115%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px !important;
  margin-top: -30px;
}

@media (min-width: 769px) {
  .div5 {
    margin-top: 30px;
  }

  .div5 .item {
    width: 24%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .div5 {
    padding-bottom: 0px;
  }

  .div5 .item {
    width: 32%;
  }

  .div5 .section-heading {
    font-size: 18px;
    margin-top: 0px;
  }

  .div5 .item .feature-desc {
    font-size: 12px;
    text-align: left;
  }

  .div5 .item .item-heading {
    font-size: 12px;
    margin: 5px;
    font-weight: 600;
  }
}

/* End css for 5th  */

/* css for 6th  */
.div6 {
  /* border: 1px solid black; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 500px);
  margin: auto;
  grid-gap: 10px;
}
.div6 .luft_div {
  text-align: center;
  /* border: 1px solid black; */
}
.div6 .luft_div > a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .div6 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* gap: 3%; */
    margin: 3% auto;
  }
}
/* End css for 6th  */

.div7_text {
  margin-right: 10%;
}

/* .div7 > div{
      border: 1px solid yellow;
  } */
.div7 .bttn {
  line-height: 1.42;
  text-decoration: none;
  white-space: normal;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 11px 20px;
  min-width: 90px;
  cursor: pointer;
  border: none;
  background-color: #fdd301;
  margin-bottom: 2%;
  transition: border-bottom 0.3 ease;
}
/* End css for 7th  */
/*  css for 9th  */
.div9 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 400px);
  /* grid-gap: 10px; */
}

.div9 .drift_div > a {
  text-align: center;
  text-decoration: none;
}

.div9 .visually-hidden {
  display: block;
}

@media screen and (max-width: 480px) {
  .div9 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 3%; */
    margin: 3% auto;
  }
}
/* End css for 9th  */

/* End css for 10th  */

/*  css for 12th  */
.div12 {
  margin: auto;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 500px);
  grid-gap: 10px;
  /* border: 1px solid black; */
}
.div12 .luft_div {
  text-align: center;
}
.div12 .luft_div > a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .div12 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 3% auto;
  }
}

.bttn {
  line-height: 1.42;
  text-decoration: none;
  white-space: normal;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 11px 20px;
  min-width: 90px;
  cursor: pointer;
  border: none;
  background-color: #fdd301;
  margin-bottom: 2%;
  transition: border-bottom 0.3 ease;
}
/* End css for 13th  */

/*  css for 15th  */
.div15 {
  width: 80%;
  margin: auto;
  /* padding: 0 8%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 500px);
  grid-gap: 10px;
}

.div15 .luft_div {
  text-align: center;
}
.div15 .luft_div > a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .div15 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 1% auto;
  }
}

.div18 {
  width: 80%;
  margin: auto;
  /* padding: 0 8%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 500px);
  grid-gap: 10px;
}
.div18 .luft_div {
  text-align: center;
}
.div18 .luft_div > a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .div18 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 3% auto;
  }
}
/* End css for 18th  */

.strike {
  text-decoration: line-through;
}

.grid-product__price--savings {
  color: tomato;
}
.grid-product__link {
  color: darkslategray;
}

.rte featured-row__subtext {
  line-height: 28.16px;
  font-size: 17.6px;
  letter-spacing: normal;
}

.div7 .h3 {
  font-weight: bold;
  font-size: 20px;
}

.div13 .h3 {
  font-weight: bold;
  font-size: 20px;
}

.div13 p {
  letter-spacing: normal;
}

.the {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.75em;
  margin-bottom: 20px;
}

.div4 .h3 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 1rem;
  margin-bottom: 20px;
}

.div4_img,
.div7_img,
.div13_img,
.div10_img {
  /* background-color: black; */
  /* width: 100%; */
  height: 100%;
}

.div4_img > a,
.div10_img > a {
  height: 100%;
}
.text-content {
  margin-left: 12%;
  /* background-color: crimson; */
}

.btn-view {
  line-height: 1.42;
  text-decoration: none;
  white-space: normal;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 11px 20px;
  min-width: 90px;
  cursor: pointer;
  border: none;
  background-color: #fdd301;
  /* margin-bottom: 2%; */
  transition: border-bottom 0.3 ease;
}

.header {
  /* border: 1px solid black; */
  position: sticky;
  scroll-behavior: smooth;
  width: 100%;
  /* margin-bottom: 2%; */
}
.item {
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.grid-product__image {
  height: 350px;
  width: 350px;
}
